.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.active{
    font-weight: bold;
}

.angular-google-map-container { height: 600px; }

