.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.active{
    font-weight: bold;
}

.angular-google-map-container { height: 600px; }
/*.angular-google-map-container { height: 100%; }*/

div.tab.related-tab.selected{
    display: none !important;
}

/*body, html {*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/