<div class="container" id="map_canvas" ng-controller="realtimeController">

    <ui-gmap-google-map center='map.center' zoom='map.zoom'>

        <!--<ui-gmap-marker idKey='marker.id' coords='marker.coords'  options="marker.options">-->
        <!--</ui-gmap-marker>-->

        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" options="marker.options">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>{{title}}</div>
            </ui-gmap-windows>
        </ui-gmap-markers>

        <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                        visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable"
                        control="c.control" events="c.events"></ui-gmap-circle>

    </ui-gmap-google-map>
</div>
